:root{
    --secondary-bg: #22577a;
    --accent-1: #38a3a5;
    --accent-2: #57cc99;
    --primary-text: #030301;
    --secondary-text: white;
}

section {
    padding: 10px;
}

header {
    background-color: var(--secondary-bg);
    color: var(--secondary-text);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    padding: 5px;
    color: var(--secondary-text);
    text-decoration: none;
}

nav a:hover {
    color: var(--secondary-bg);
}

nav {
    padding: 5px;
    border-radius: 10px;
    background-color: var(--accent-1);
    display: flex;
    justify-content:center;
}

nav li {
    padding: 5px;
    list-style: none;
}

table {
    padding:  10px;
    width: 50%;
    justify-content: space-evenly;
}

th {
    background-color: var(--accent-2);
}

form {
    padding: 5px;
}

label {
    padding: 5px;
}

input, textarea {
    width:50%;
    display: flex;
    padding: 10px;
}

form button {
    color: var(--secondary-text);
    width: 50%;
    background-color: var(--accent-1);
    border: 5px;
    border-radius: 10px;
    padding: 5px;
}

form button:hover {
    background-color: var(--accent-2);
}

footer {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    padding: 5px;
}

#content h3 {
    padding: 5px;
}

#weeks {
    padding: 10px;
    justify-content: left;
}

#weeks {
    padding: 5px;
    list-style: none;
}

#weeks ul {
    width: 30%;
    border-radius: 10px;
    background-color: var(--accent-2);
    color: var(--primary-text);
    border-bottom: 5px;
}

.week-items ul {
    list-style: decimal;
}

.week-items li {
    padding: 5px;
}

#kainos-img {
    border-radius: 5px;
    height: 50px;
    opacity: 85%;
}

#logo-div {
    background-color: var(--secondary-text);
    width: 500px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    opacity: 95%;
}