<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Order</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <form class="form" action="/orderForm" method="post">

        <h3>
            <label for="customerID">Customer</label>
        </h3>
        <select name="customerID" id="customerID">
            {% for customer in customers %}
            <option value="{{customer.customerID}}">Name: {{customer.customerName}}, ID: {{customer.customerID}}</option>
            {% endfor %}
        </select>

        <h3>
            <label for="orderDate">Order Date</label>
        </h3>
        <input type="date" name="orderDate" id="orderDate" value="{{ orderDate }}">
        
        <br><br>

        <button id="submit">Create Order</button>
    </form>
</body>
</html>