<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
</head>
<body>
    <h2>A List of All Orders</h2>
    <table>
        <tr>
            <th>Order ID</th>
            <th>Order Date</th>
        </tr>
        {% for order in orders | sort(attribute='orderID') %}
        <tr>
            <td><a href="/orders/{{order.orderID}}", target="_blank">{{ order.orderID }}</a></td>
            <td>{{ order.orderDate | date }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>